.c-button {
  display: inline-block;
  padding: .7em 1em;
  background: get-brand(primary);
  border: 0;
  border-radius: $global-border-radius;
  box-shadow: 0;
  -webkit-appearance: none;
  color: get-color(unique, white);
  font-weight: bold;
  line-height: 1;
  transition: background .2s ease;

  &:hover {
    background: rgba(get-brand(primary), .8);
  }
}