.c-fluid-media {
  overflow: auto;

  iframe {
    height: 940px;
    width: 1000px;

    @include respond(xxLarge) {
      height: 1300px;
      width: 1400px;
    }
  }
}

.c-fluid-media--small {
  iframe {
    height: 700px;
    width: 800px;

    @include respond(xxLarge) {
      height: 800px;
      width: 1000px;
    }
  }
}