.c-navigation {
  display: none;
  left: 0;
  height: 100vh;
  margin-top: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: get-index(navigation);
  background: white;
  font-size: 2rem;

  @include respond(large) {
    display: block;
    height: auto;
    overflow: none;
    margin-top: get-stack-spacing(m);
    position: static;
    width: auto;
    background: transparent;
    font-size: get-font(size);
    text-align: center;
  }
  @include respond(xxLarge) {
    margin-top: 0;
  }

  &.is-active {
    display: block;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: get-inset-spacing(m);
    border-bottom: 1px solid $global-border-color;
    font-weight: bold;
    text-transform: uppercase;

    @include respond(large) {
      display: none;
    }
  }

  &__body {
    @include respond(large) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include respond(xLarge) {
      display: flex;
      flex-direction: row;
      grid-template-columns: initial;
    }
  }

  &__trigger {
    height: 24px;
    width: 24px;
  }

  &__item {
    padding: get-inset-spacing(m);
    color: get-font(color);
    font-weight: 500;

    @include respond(large) {
      margin-top: 0;
    }

    &:after {
      content: '';
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 1px;
      background: $global-border-color;
      transform: translateY(-50%);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:hover,
    &.is-active {
      background-color: get-brand(primaryGradation);
      box-shadow: inset 0 -2px 0 get-brand(primary);
      color: get-brand(primary);
    }
    &.is-active {
      font-weight: bold;
    }
  }
}

.c-navigation-trigger {
  @include respond(large) {
    display: none;
  }
}