<header role="banner" class="o-header c-header">
  <a href="/" class="c-logo" title="SNT Dashboard"></a>
  <nav role="navigation" class="o-header__navigation o-list o-list--row c-navigation">
    <a href="/ens-registration" title=""
      class="o-list__item c-navigation__item <% if(is_current('/ens-registration')) { %>is-active<% } %>">ENS Registration</a>
    <a href="/sticker-market" title=""
      class="o-list__item c-navigation__item <% if(is_current('/sticker-market')) { %>is-active<% } %>">Sticker
      Market</a>
    <a href="/teller-network" title=""
      class="o-list__item c-navigation__item <% if(is_current('/teller-network')) { %>is-active<% } %>">Teller
      Network</a>
    <a href="/tribute-to-talk" title=""
      class="o-list__item c-navigation__item <% if(is_current('/tribute-to-talk')) { %>is-active<% } %>">Tribute to
      Talk</a>
    <a href="/dapps" title=""
      class="o-list__item c-navigation__item <% if(is_current('/dapps')) { %>is-active<% } %>">Dap.ps</a>
    <a href="/network-incentivization" title=""
      class="o-list__item c-navigation__item <% if(is_current('/network-incentivization')) { %>is-active<% } %>">Network
      Incentivization</a>
    <a href="/liquid-funding" title="" class="o-list__item c-navigation__item <% if(is_current('/liquid-funding')) { %>is-active<% } %>">Liquid Funding</a>
    <a href="/acquisition-engine" title=""
      class="o-list__item c-navigation__item <% if(is_current('/acquisition-engine')) { %>is-active<% } %>">Acquisition
      Engine</a>
  </nav>
</header>