<main class="c-fluid-media">
  <iframe frameborder="0" height="940" scrolling="no" width="1000" allowFullScreen="true"
    src="https://app.powerbi.com/view?r=eyJrIjoiOTYyMTQyZjMtZTM5ZS00MWE3LTkzYjktMzFiM2U3MTg3YzAxIiwidCI6ImYyOGNmN2E5LTk2NmYtNGRiNC04N2MwLWZhMjlmMzliYzMzOSIsImMiOjl9"
    class="o-center"></iframe>
</main>