<main class="c-fluid-media c-fluid-media--small">
  <iframe frameborder="0" height="440" scrolling="no" width="800" allowFullScreen="true" src="<%- config.overview_url %>" class="o-center"></iframe>
</main>
