.o-constrained {
  max-width: $max-wrapper-width;
  margin: 0 auto;
  padding-left: $prevent-spacing;
  padding-right: $prevent-spacing;
}

.o-center {
  margin-left: auto;
  margin-right: auto;
}

.o-distance {
  margin-top: 12px;
}

.o-fullview {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 119px);
  justify-content: center;
}