.o-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: get-stack-spacing(xl);
  padding: get-inset-spacing(m);

  @include respond(large) {
    flex-direction: column;
  }
  @include respond(xxLarge) {
    flex-direction: row;
    padding: 0 get-inset-spacing(m);
  }

  &__navigation {
    margin-top: get-stack-spacing(m);

    @include respond(xxLarge) {
      margin-top: 0;
    }
  }
}