.o-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: get-stack-spacing(xl);
  padding: get-inset-spacing(m) get-inset-spacing(m) 0;

  @include respond(xxLarge) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 get-inset-spacing(m);
  }

  &__navigation {
    margin-top: get-stack-spacing(m);

    @include respond(xxLarge) {
      margin-top: 0;
    }
  }
}